@charset "utf-8";

// Coolors scheme
// https://coolors.co/7e6551-15616d-0a1128-938581-c5d5e4

$blue: #15616D;
$blue-lighter: #C5D5E4;
$blue-darker: #0A1128;
$brown: #7E6551;
$brown-lighter: #938581;

$primary: $blue;

@import "./node_modules/bulma/bulma.sass";
